<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @ViewBag.Id<br /><hr />
        @ViewBag.UserName <br /><hr />
    </div>
</body>
</html>
